* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans';
}

h1 {
  font-weight: 100;
  margin: 0;
}

.masonry {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  /* column-width: 300px;
  column-gap: 5px;
  padding: 5px; */
}

.masonry img {
  /* width: 100%;
  height: auto;
  display: block;
  margin-bottom: 5px; */
  width: 100%;
  display: block;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid rgb(177, 177, 207);
  border-radius: 10px;
}

.lightbox {
  position: fixed;
  inset: 0;
  background: #000000ab;
  perspective: 1000;
  z-index: 1000;
}

.filter {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* filter: blur(25px); */
  opacity: 0.5;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.lightbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  /* max-height: 95vh;
  max-width: calc(95vw - 100px); */
  transition: 0.8s cubic-bezier(0.7, 0, 0.4, 1);
  transform-style: preserve-3d;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  z-index: -1;
  animation: scale-in 0.3s ease-out forwards, expand 0.35s 0.25s ease-out forwards;
}

[class^='arrow'] {
  height: 200px;
  width: 50px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

[class^='arrow']:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 15px;
  height: 15px;
}

.arrowr {
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.arrowr:after {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.arrowl {
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.arrowl:after {
  border-left: 1px solid white;
  border-top: 1px solid white;
}

.close {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0);
  border: none;
  margin: 20px;
  cursor: pointer;
  z-index: 10;
}

.close:after,
.close:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 100%;
  background: #ffffff;
}

.close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.title {
  font-size: 20px;
  color: #000;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
}

/* @keyframes scale-in {
  100% {
    transform: translate(-50%, -50%) rotateY(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes expand {
  50% {
    width: 350px;
    border-radius: 20px;
  }
  100% {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 3px 3px -1px rgba(0, 0, 0, 0.12);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
} */

@media screen and (max-width: 480px) {
  .arrowr {
    background-color: rgba(0, 0, 0, 0.692);
    border: none;
  }

  .arrowl {
    background-color: rgba(0, 0, 0, 0.692);
    border: none;
  }
}
