.login-wrapper {
  font-family: 'Lexend', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* full screen */
}

.login-btn-header1 {
  font-family: 'Lexend', sans-serif;
  text-align: center;
  color: white;
  padding: 5px;
  background-color: #eb6d9a;
  border-radius: 5px;
}

.stripes-vertical {
  background: repeating-linear-gradient(
    to right,
    #a0c4ff,
    #a0c4ff 20px,
    #cddffb 20px,
    #cddffb 40px
  );
}

button:disabled {
  background-color: rgb(224, 224, 224);
  color: rgb(172, 172, 172);
  border: 0px;
  cursor: not-allowed;
}

#tx-logo {
  max-width: 220px;
  align-items: center;
}

#login-txsam {
  max-height: 100px;
}

#login-modal-txsam {
  height: 50px;
}

.login-form {
  display: inline-block;
  width: 90%;
}

#modal-h2 {
  font-size: 1.5rem;
}

#register-link {
  color: rgb(50, 190, 255);
  text-decoration: underline;
  z-index: 20000;
  background-color: rgba(255, 255, 255, 0);
}

/* need to fix position of the x */
.close-button {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
  border: solid 1px #ff000000;
  background: none;
  color: #adadad;
}

.username,
.password {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  height: 1.75rem;
}

.username-lbl,
.password-lbl {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1rem;
}

.socialmedia-btn {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  font-size: 20px;
  margin: 0 5px;
}

#facebook-icon path {
  height: 30px;
  width: 30px;
}

.socialmedia-btn svg {
  max-height: 30px;
}

.login-btn {
  font-family: 'Lexend', sans-serif;
  height: 30px;
  width: 80px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: 0px;
  margin-top: 20px;
}

.tuxedo-sam-btn {
  background-color: rgba(0, 0, 255, 0);
  border: 0px;
  transform: scale(2);
}

#login-btn1 {
  transform: scale(2);
}

.backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.35);
  z-index: 2000;
  background: #fff;
  padding: 2rem 1rem;
  border-radius: 8px;
  min-width: 300px;
  max-width: 90vw;
  min-height: 350px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.helper-text {
  display: flex;
  font-size: 0.75rem;
  color: #adadad;
}
