/* You can add global styles to this file, and also import other style files */
button {
  border: 0px;
}

button:hover {
  cursor: pointer;
}

.lexend {
  font-family: 'Lexend', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.login-wrapper {
  font-family: 'Lexend', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
}

.login-btn-header1 {
  font-family: 'Lexend', sans-serif;
  text-align: center;
  color: white;
  padding: 5px;
  background-color: #eb6d9a;
  border-radius: 5px;
}

.stripes-vertical {
  background: repeating-linear-gradient(
    to right,
    #a0c4ff,
    #a0c4ff 20px,
    #cddffb 20px,
    #cddffb 40px
  );
}

.tuxedo-sam-btn {
  position: absolute;
  background-color: rgba(0, 0, 255, 0);
  border: 0px;
  transform: translate(-50%, -50%) scale(2);
  margin-top: 50vh;
}
/* something keeps pushing btn around need to change solution */

#login-txsam {
  max-height: 100px;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.35);
  z-index: 2000;
  background: #fff;
  padding: 2rem 1rem;
  border-radius: 8px;
  min-width: 300px;
  max-width: 90vw;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.close-button {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
  border: solid 1px #ff000000;
  background: none;
  color: #adadad;
}

#success-txsam {
  margin: 20px 0px;
}

#confetti {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.background-wrapper {
  height: 100vh;
}
/* i need this so the bg stripes display properly */

.footer {
  position: fixed;
  bottom: 10px;
  left: 0px;
  right: 0px;
  margin: auto;
  text-align: center;
}

html,
body {
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.rectangle {
  margin-top: 12%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 50px;
  height: 75px;
  background: #eb6d9a;
  transform: scale(0);
  border-radius: 50%;
  color: white;
  opacity: 0;
  overflow: hidden;
  animation: scale-in 0.3s ease-out forwards, expand 0.35s 0.25s ease-out forwards;
}

.notification-text {
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 14px;
  animation: fade-in 0.65s ease-in forwards;
  line-height: 16px;
  margin-top: -2px;
}

@keyframes scale-in {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes expand {
  50% {
    width: 350px;
    border-radius: 20px;
  }
  100% {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 3px 3px -1px rgba(0, 0, 0, 0.12);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

.login-content-wrapper {
  display: flex;
}

@media screen and (max-width: 480px) {
  .tuxedo-sam-btn {
    transform: translate(-50%, -50%) scale(1);
  }

  .modal {
    transform: translate(-50%, -50%) scale(1);
  }
}
