.login-wrapper {
  font-family: 'Lexend', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
}

.stripes-vertical {
  background: repeating-linear-gradient(
    to right,
    #a0c4ff,
    #a0c4ff 20px,
    #cddffb 20px,
    #cddffb 40px
  );
}

.modal {
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.35); */
  z-index: 2000;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 40px;
}

.lexend {
  font-family: 'Lexend', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

button:hover {
  cursor: pointer;
}

.banner {
  top: 0px;
  height: 300px;
  width: 100%;
  background: url('https://dabonsym.com/wp-content/uploads/2025/12/wp10643539-color-corrected-min.png');
  background-size: cover;
  z-index: -2000;
}

.container {
  border-radius: 15px;
  margin-top: -15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  height: 75%;
  width: 100%;
}

.modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin-top: 250%; */
  width: 55vw;
  height: auto;
}

.logout-button {
  position: relative;
  height: 50%;
  margin-top: 15px;
  left: 30px;
  color: #ff0000;
  background-color: #ffffff00;
  padding: 4px;
  border-radius: 5px;
  border: 1.5px solid red;
}

.profile-pic {
  margin-top: -75px;
  margin-left: 5px;
  height: 150px;
  width: 150px;
  border-radius: 100px;
  z-index: 99999;
  background-image: url('https://dabonsym.com/wp-content/uploads/2025/12/tuxedo-sam-nonlogged-1.png');
  background-size: contain;
  /* background-color: #ff0000; */
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.top-section {
  display: flex;
  flex-direction: row;
}

.profile-section {
  flex: 1;
}

.message-section {
  flex: 3;
  text-align: left;
}

.message-section h1 {
  font-size: 40px; /* default 32px */
  text-transform: capitalize;
  margin: 10px 10px;
  color: rgba(12, 16, 87, 0.885);
}

.message-section h5 {
  margin: 10px 10px;
  color: rgba(26, 30, 104, 0.527);
  font-weight: 500;
}

.logout-section {
  display: flex;
  justify-content: center;
  flex: 1;
}

.masonry-container {
  margin: 10px;
  /* display: flex; */
  /* height: 80%; */
  /* overflow-x: hidden;
  overflow-y: scroll; */
}

@media screen and (max-width: 480px) {
  .modal-content {
    width: 100vw;
  }

  .logout-button {
    margin-top: 20%;
    left: -10%;
    padding: 2px;
    height: 50%;
    width: 100%;
    /* transform: scale(0.75); */
  }
}
