@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  color: #003b8d;
}

#error-message {
  color: red;
  font-weight: 500;
}
